# Сравнение предикшенов по невыравненным последовательностям

In [1]:
import pandas as pd
import re
import numpy as np
from Predictions import * # Функции для сравнения в файле Predictions.py

# Обработка данных

In [2]:
# Загружаю предикшены TargetScan
sars2t = pd.read_csv('TargetScan_predictions/SARS-CoV-2.txt', sep='\t')
sarst = pd.read_csv('TargetScan_predictions/SARS-CoV.txt', sep='\t')
merst = pd.read_csv('TargetScan_predictions/MERS-CoV.txt', sep='\t')
oc43t = pd.read_csv('TargetScan_predictions/HCoV-OC43.txt', sep='\t')
hku1t = pd.read_csv('TargetScan_predictions/HCoV-HKU1.txt', sep='\t')
e229t = pd.read_csv('TargetScan_predictions/HCoV-229E.txt', sep='\t')
nl63t = pd.read_csv('TargetScan_predictions/HCoV-NL63.txt', sep='\t')
sars2t.head()

,a_Gene_ID,miRNA_family_ID,species_ID,MSA_start,MSA_end,UTR_start,UTR_end,Group_num,Site_type,miRNA in this species,Group_type,Species_in_this_group,Species_in_this_group_with_this_site_type,ORF_overlap
0,SARS-2,let-7-5p/98-5p,9606,12450,12455,12450,12455,1,6mer,x,6mer,9606,NaN,0
1,SARS-2,let-7-5p/98-5p,9606,19061,19067,19061,19067,2,7mer-1a,x,7mer-1a,9606,NaN,0
2,SARS-2,let-7-5p/98-5p,9606,9861,9866,9861,9866,3,6mer,x,6mer,9606,NaN,0
3,SARS-2,let-7a-2-3p/let-7g-3p,9606,11835,11841,11835,11841,4,7mer-m8,x,7mer-m8,9606,NaN,0
4,SARS-2,let-7a-2-3p/let-7g-3p,9606,13160,13165,13160,13165,5,6mer,x,6mer,9606,NaN,0

In [3]:
list_name = [sars2t, merst, sarst, oc43t, hku1t, e229t, nl63t]

In [4]:
# Немного форматирую датафреймы под нашу задачу
for target in list_name:
    target.rename(columns={'miRNA_family_ID': 'miRNA', 'a_Gene_ID': 'Virus'}, inplace=True)
    target.drop(['species_ID', 'Group_num', 'Group_type',
                 'Species_in_this_group', 'Species_in_this_group_with_this_site_type'],
                axis=1, inplace=True)
sars2t.head()

,Virus,miRNA,MSA_start,MSA_end,UTR_start,UTR_end,Site_type,miRNA in this species,ORF_overlap
0,SARS-2,let-7-5p/98-5p,12450,12455,12450,12455,6mer,x,0
1,SARS-2,let-7-5p/98-5p,19061,19067,19061,19067,7mer-1a,x,0
2,SARS-2,let-7-5p/98-5p,9861,9866,9861,9866,6mer,x,0
3,SARS-2,let-7a-2-3p/let-7g-3p,11835,11841,11835,11841,7mer-m8,x,0
4,SARS-2,let-7a-2-3p/let-7g-3p,13160,13165,13160,13165,6mer,x,0

In [5]:
# Загружаю данные miRDB
sars2m = pd.DataFrame(pd.read_csv('miRDB_predictions/SARS-CoV-2_miRDB.txt', sep='\t'))
sarsm = pd.DataFrame(pd.read_csv('miRDB_predictions/SARS-CoV_miRDB.txt', sep='\t'))
oc43m = pd.DataFrame(pd.read_csv('miRDB_predictions/HCoV-OC43_miRDB.txt', sep='\t'))
mersm = pd.DataFrame(pd.read_csv('miRDB_predictions/MERS-CoV_miRDB.txt', sep='\t'))
hku1m = pd.DataFrame(pd.read_csv('miRDB_predictions/HCoV-HKU1_miRDB.txt', sep='\t'))
e229m = pd.DataFrame(pd.read_csv('miRDB_predictions/HCoV-229E_miRDB.txt', sep='\t'))
nl63m = pd.DataFrame(pd.read_csv('miRDB_predictions/HCoV-NL63_miRDB.txt', sep='\t'))
sars2m.head(1)

   Target Rank  Target Score    miRNA Name
0            1            99  hsa-miR-4288

# Рабочий поцесс:
## Сравнение TargetScan и miRDB
### Все функции описаны в файле Predictions.py

In [6]:
without_exp(sars2m, sars2t, 'Results/_noexp/Result_SARS2_noexp')

In [7]:
without_exp(sarsm, sarst, 'Results/_noexp/Result_SARS_noexp')

In [8]:
without_exp(mersm, merst, 'Results/_noexp/Result_MERS_noexp')

In [9]:
without_exp(oc43m, oc43t, 'Results/_noexp/Result_OC43_noexp')

In [10]:
without_exp(hku1m, hku1t, 'Results/_noexp/Result_HKU1_noexp')

In [11]:
without_exp(e229m, e229t, 'Results/_noexp/Result_229E_noexp')

In [12]:
without_exp(nl63m, nl63t, 'Results/_noexp/Result_NL63_noexp')

## Сравнение сайтов связывания

In [14]:
locus(sars2t, '_noexp/Result_SARS2_noexp', 'SARS2')

[False]

In [15]:
locus(sarst, '_noexp/Result_SARS_noexp', 'SARS')

[False]

In [16]:
locus(merst, '_noexp/Result_MERS_noexp', 'MERS')

[False]

In [17]:
locus(oc43t, '_noexp/Result_OC43_noexp', 'OC43')

[False]

In [18]:
locus(hku1t, '_noexp/Result_HKU1_noexp', 'HKU1')

[False]

In [19]:
locus(e229t, '_noexp/Result_229E_noexp', '229E')

[False]

In [20]:
locus(nl63t, '_noexp/Result_NL63_noexp', 'NL63')

[False]